@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --verde: #92c71b !important;
  --preto: #000000 !important;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--preto);
}

.verde {
  color: var(--verde);
}

/*===== HEADER =====*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0;
}

.nav1 {
  background-color: white;
}

.nav2 {
  background-color: var(--preto);
}

nav ul {
  width: 100%;
  list-style: none;
}

nav li {
  height: 50px;
}

nav li:first-child {
  margin-right: auto;
}
.nav1 a {
  color: var(--preto);
}

.nav2 a {
  color: white;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Kanit-BoldItalic", sans-serif;
}

nav a:hover,
nav.scrolled a:hover {
  color: var(--verde);
}
nav.scrolled a {
  color: white;
}
nav.scrolled {
  background-color: var(--preto);
  opacity: 0.98;
}

nav img {
  width: 200px;
}

/*===== SIDEBAR =====*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: var(--preto);
  display: none;
  flex-direction: column;
  transition: all 0.6s ease;
}

.sidebar li {
  width: 100%;
  margin: 10px 0px;
}

.sidebar a {
  width: 100%;
  color: white;
  font-size: 45px;
  font-family: "Kanit-Regular", sans-serif;
  font-style: italic;
}
.sidebar a:hover {
  text-decoration: underline;
}
.toggler,
.toggler1 {
  width: 50px;
}

/*===== MAIN =====*/
main {
  margin-top: 10%;
}

.mascara {
  width: 100%;
  -webkit-mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  -webkit-mask-position: cover;
  mask-position: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  margin-top: -2rem;
  z-index: -1;
}
.card {
  border: none;
}

.sobre-btn {
  color: var(--preto) !important;
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 2rem 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  border: 1px solid black;
  max-width: 100px;
}

.sobre-btn:hover {
  background-color: var(--preto);
  color: white !important;
}

.equipamentos {
  font-family: Kanit-BoldItalic;
}

.equipamentos a {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.equipamentos h1 {
  font-size: 100px;
}
.equipamentos h5 {
  font-size: 30px;
}

.hidden {
  display: none;
}

.equipamentos a img {
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: contain;
  z-index: -10;
}

.mini-titulo {
  font-size: 16px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

a:hover .hidden {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: var(--preto);
  z-index: -1;
}

.equipamentos a:hover h1,
.equipamentos a:hover h5 {
  color: var(--verde);
  transition: all 0.5s ease;
}

.carousel {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 99%
  );
}

.carousel-item {
  width: 80%;
}

.carousel-item img {
  max-height: 600px;
}

.carousel-caption h5 {
  font-size: 16px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  padding-top: 1rem;
  text-transform: uppercase;
  color: var(--verde);
}

.carousel-caption h2 {
  font-size: 55px;
  font-family: "Kanit-MediumItalic";
  letter-spacing: 3px;
}

.indicadores-carousel {
  position: absolute;
  gap: 15px;
  bottom: 5vh;
  right: 10vw;
  cursor: pointer;
}

.prev,
.next {
  background-color: transparent !important;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card-title-orcamento {
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  font-size: 90px;
}

.rodo-orcamento {
  font-family: "Kanit-BoldItalic", sans-serif;
  margin-left: 35px;
}

.card-text-orcamento {
  line-height: 1.7;
  margin-left: 2.3rem;
}

.orcamento-btn {
  background-color: var(--verde);
  color: var(--preto) !important;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 3rem 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  width: 15rem;
}

.orcamento-btn:hover {
  border: 1px solid #92c71b;
  background-color: white;
}

/*===== SOBRE =====*/

.card-pretitle {
  font-size: 13px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  color: var(--verde);
  font-size: 16px;
}

.card-title2 {
  font-size: 78px;
  color: var(--preto);
  font-family: "Kanit-SemiBoldItalic", sans-serif;
}

.card-subtitle {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 30px;
}

.negrito {
  font-family: "Gilroy-Bold", sans-serif;
}

.card-text2 {
  font-size: 22px;
}

.partilhe-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.partilhe {
  font-size: 12px;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
}

.wemoveit {
  font-family: "Dosis", sans-serif !important;
  text-align: start;
  font-size: 22vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--preto);
  color: transparent;
  position: absolute;
  top: -15vw;
  left: 0;
  right: 0;
  z-index: 100;
  line-height: 1;
  font-style: italic;
  display: block;
  width: 100%;
  padding: 0;
}
.galeria img {
  height: 100%;
}
/*===== EQUIPAMENTOS =====*/
.indicadores-equip {
  position: absolute;
  gap: 15px;
  margin-top: 10px;
}

#prev,
#next {
  background-color: transparent !important;
  border: 1px solid #000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.texto-equipamento {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 18px;
  padding-left: 30vw;
}

.sub-infinito {
  font-weight: 600;
  letter-spacing: 3px;
  font-style: italic;
  color: var(--verde);
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.wrapper-slide {
  white-space: nowrap;
  padding: 0 4rem;
  display: inline-block;
  flex-shrink: 0;
  min-width: auto;
}

.titulo-infinito {
  font-size: 90px;
  font-family: "Kanit-ExtraLightItalic", sans-serif;
}

/*===== FOOTER =====*/
.contactos {
  font-family: "Gilroy-Bold", sans-serif;
}

.dados {
  font-size: 12px;
  color: gray;
}

footer a {
  color: white;
}

/*=== MEDIA QUERIES ===*/

@media all and (max-width: 900px) {
  .equipamentos h1 {
    font-size: 85px;
  }
  .equipamentos h5 {
    font-size: 30px;
  }
  .card-title2 {
    font-size: 60px;
  }
  .card-equip {
    max-width: 80% !important;
  }
}

@media all and (max-width: 768px) {
  .card-we {
    max-width: 80% !important;
  }

  .equipamentos h1 {
    font-size: 60px;
  }

  .carousel-caption h2 {
    font-size: 40px;
  }

  .card-title-orcamento {
    font-size: 75px;
  }
  .card-subtitle {
    font-size: 25px;
  }
  .texto-equipamento {
    padding: 0;
  }
  .titulo-infinito {
    font-size: 70px;
  }
}

@media all and (max-width: 576px) {
  .mascara {
    margin-top: 2rem;
  }
  .equipamentos h1 {
    font-size: 50px;
  }
  .card-title-orcamento {
    font-size: 55px;
  }
}

@media all and (max-width: 480px) {
  nav img {
    width: 170px;
  }
  .equipamentos h1 {
    font-size: 40px !important;
  }
  .carousel-caption h2 {
    font-size: 16px;
  }
  .card-title2 {
    font-size: 40px;
  }
  .card-text2 {
    font-size: 18px;
  }
  .titulo-infinito {
    font-size: 40px;
  }
}
