@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --verde: #92c71b !important;
  --preto: #000000 !important;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.verde {
  color: var(--verde);
}

/*===== HEADER =====*/
header {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 10px 0px;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  transition: background-color 0.4s ease-in-out;
}

.navbar-toggler {
  border: none;
  font-size: 40px;
  color: #000;
}

.navbar.scrolled {
  background-color: #000;
  opacity: 0.98;
}

.nav-logo {
  width: 200px;
}

.navbar.scrolled a,
.navbar.scrolled .navbar-toggler,
.navbar2 .navbar-toggler {
  color: white !important;
}

.navbar a {
  font-family: "Kanit-BoldItalic", sans-serif;
  font-size: 16px;
  color: #000 !important;
  transition: color 0.4s ease-in-out;
}

.container-fluid2 {
  max-width: 95%;
}

.navbar2 a {
  font-family: "Kanit-BoldItalic", sans-serif;
  font-size: 16px;
  transition: color 0.4s ease-in-out;
  color: white !important;
}

.nav-link:hover,
.active:hover,
.active {
  color: var(--verde) !important;
}

/*===== MAIN =====*/
main {
  margin-top: 10%;
}

.mascara {
  width: 100%;
  -webkit-mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  -webkit-mask-position: cover;
  mask-position: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  margin-top: -2rem;
  z-index: -1;
}
.card {
  border: none;
}

.sobre-btn {
  color: #000 !important;
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 2rem 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  border: 1px solid black;
  max-width: 100px;
}

.sobre-btn:hover {
  background-color: #000000;
  color: white !important;
}

.equipamentos {
  font-family: Kanit-BoldItalic;
}

.equipamentos h1 {
  font-size: 100px;
}
.equipamentos h5 {
  font-size: 30px;
}

.hidden {
  display: none;
}

.hidden img {
  max-width: 28%;
  margin-left: 10vw;
  z-index: -1;
  border: 1px solid red;
}

.hidden span {
  border: 1px solid blue;
  margin-right: 29vw;
  font-size: 13px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  padding-top: 1rem;
}

.equipamentos a:hover h1,
.equipamentos a:hover h5 {
  color: #92c71b;
  transition: all 0.5s ease;
}

a:hover .hidden {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: -12rem;
  color: #000;
}

.carousel {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 95%
  );
}

.carousel-item {
  width: 80%;
}

.carousel-item img {
  max-height: 600px;
}

.carousel-caption h5 {
  font-size: 16px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  padding-top: 1rem;
  text-transform: uppercase;
  color: #92c71b;
}

.carousel-caption h2 {
  font-size: 55px;
  font-family: "Kanit-MediumItalic";
  letter-spacing: 3px;
}

.indicadores-carousel {
  position: absolute;
  gap: 15px;
  bottom: 5vh;
  right: 10vw;
  cursor: pointer;
}

.prev,
.next {
  background-color: transparent !important;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card-title-orcamento {
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  font-size: 90px;
}

.rodo-orcamento {
  font-family: "Kanit-BoldItalic", sans-serif;
  margin-left: 35px;
}

.card-text-orcamento {
  line-height: 1.7;
  margin-left: 2.3rem;
}

.orcamento-btn {
  background-color: #92c71b;
  color: #000 !important;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 3rem 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  width: 15rem;
}

.orcamento-btn:hover {
  border: 1px solid #92c71b;
  background-color: white;
}

/*===== SOBRE =====*/

.card-pretitle {
  font-size: 13px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  color: #92c71b;
  font-size: 16px;
}

.card-title2 {
  font-size: 78px;
  color: #000;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
}

.card-subtitle {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 30px;
}

.negrito {
  font-family: "Gilroy-Bold", sans-serif;
}

.card-text2 {
  font-size: 22px;
}

.partilhe-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.partilhe {
  font-size: 12px;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
}

.wemoveit {
  font-family: "Dosis", sans-serif !important;
  font-weight: 400;
  font-style: italic;
  text-align: start;
  font-size: 22vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  position: absolute;
  top: 110vh;
  left: 0;
  right: 0;
  z-index: 100;
  line-height: 1;
  display: block;
  width: 100%;
  padding-top: 0;
}
.galeria img {
  height: 100%;
}
/*===== EQUIPAMENTOS =====*/
.indicadores-equip {
  position: absolute;
  gap: 15px;
  margin-top: 10px;
}

#prev,
#next {
  background-color: transparent !important;
  border: 1px solid #000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.texto-equipamento {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 18px;
  padding-left: 30vw;
}

.sub-infinito {
  font-weight: 600;
  letter-spacing: 3px;
  font-style: italic;
  color: #92c71b;
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.wrapper-slide {
  white-space: nowrap;
  padding: 0 4rem;
  display: inline-block;
  flex-shrink: 0;
  min-width: auto;
}

.titulo-infinito {
  font-size: 90px;
  font-family: "Kanit-ExtraLightItalic", sans-serif;
}

/*===== FOOTER =====*/
.contactos {
  font-family: "Gilroy-Bold", sans-serif;
}

.dados {
  font-size: 12px;
  color: gray;
}

footer a {
  color: white;
}

/*=== MEDIA QUERIES ===*/
@media all and (max-width: 1440px) {
  .wemoveit {
    top: 115vh;
  }
}

@media all and (max-width: 1200px) {
  .hidden img {
    margin-left: 2vw;
  }

  .hidden span {
    margin-right: 15vw;
  }
  .wemoveit {
    top: 190vh;
  }
}

@media all and (max-width: 900px) {
  .equipamentos h1 {
    font-size: 85px;
  }

  .equipamentos h5 {
    font-size: 30px;
  }

  a:hover .hidden {
    margin-top: -25%;
  }

  .hidden img {
    margin-left: 0 !important;
  }

  .hidden span {
    margin-right: 5vw !important;
  }

  .card-title2 {
    font-size: 60px;
  }
  .wemoveit {
    top: 170vh;
    font-size: 20vw;
  }
  .card-equip {
    max-width: 80% !important;
  }
}

@media all and (max-width: 768px) {
  .card-we {
    max-width: 80% !important;
  }

  .equipamentos h1 {
    font-size: 55px;
  }

  .carousel-caption h2 {
    font-size: 40px;
  }

  .card-title-orcamento {
    font-size: 75px;
  }
  .card-subtitle {
    font-size: 25px;
  }
  .texto-equipamento {
    padding: 0;
  }
  .titulo-infinito {
    font-size: 70px;
  }
  .wemoveit {
    top: 140vh;
  }
}

@media all and (max-width: 576px) {
  .mascara {
    margin-top: 2rem;
  }

  .card-title-orcamento {
    font-size: 55px;
  }
  .wemoveit {
    top: 185vh;
  }
}

@media all and (max-width: 480px) {
  .nav-logo {
    width: 180px;
  }
  .equipamentos h1 {
    font-size: 40px !important;
  }
  .carousel-caption h2 {
    font-size: 16px;
  }
  .card-title2 {
    font-size: 40px;
  }
  .card-text2 {
    font-size: 18px;
  }
  .wemoveit {
    top: 140vh;
    font-size: 20vw;
  }
  .titulo-infinito {
    font-size: 40px;
  }
}
