* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --verde: #92c71b !important;
  --preto: #000000 !important;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.verde {
  color: var(--verde);
}

/*===== HEADER =====*/
header {
  position: fixed;
  top: 0;
  z-index: 10;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  transition: background-color 0.4s ease-in-out;
}
nav.scrolled {
  background-color: #000;
  opacity: 0.98;
}

.nav-logo {
  width: 250px;
}

nav.scrolled a {
  color: white !important;
}

nav a {
  font-family: "Kanit-BoldItalic", sans-serif;
  font-size: 16px;
  color: #000 !important;
  transition: color 0.4s ease-in-out;
}

.nav-link:hover,
.active:hover,
.active {
  color: var(--verde) !important;
}

/*===== MAIN =====*/

.banner {
  border: 3px solid red;
}

.mascara {
  width: 100%;
  -webkit-mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  -webkit-mask-position: cover;
  mask-position: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  margin-top: -2rem;
  z-index: -1;
}
.card {
  border: none;
}

.sobre-btn {
  color: #000 !important;
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 2rem 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  border: 1px solid black;
  width: 130px;
}

.sobre-btn:hover {
  background-color: #000000;
  color: white !important;
}

.equipamentos {
  font-family: Kanit-BoldItalic;
}

.equipamentos a h1 {
  font-size: 100px;
}
.equipamentos a h5 {
  font-size: 30px;
}

.hidden {
  display: none;
}

.hidden img {
  max-width: 28%;
  margin-left: 200px;
  z-index: -1;
}

.hidden span {
  margin-right: 550px;
  font-size: 13px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  padding-top: 1rem;
}

.equipamentos a:hover h1,
.equipamentos a:hover h5 {
  color: #92c71b;
  transition: all 0.5s ease;
}

a:hover .hidden {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: -12rem;
  color: #000;
}

.carousel {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-item {
  width: 80%;
}

.carousel-item img {
  height: 750px;
}

.carousel-caption h5 {
  font-size: 16px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  padding-top: 1rem;
  text-transform: uppercase;
  color: #92c71b;
}

.carousel-caption h2 {
  font-size: 55px;
  font-family: "Kanit-MediumItalic";
  letter-spacing: 3px;
}

.indicadores-carousel {
  position: absolute;
  gap: 15px;
  bottom: 50px;
  right: 180px;
}

.prev,
.next {
  background-color: transparent !important;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card-title-orcamento {
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  font-size: 90px;
}

.rodo-orcamento {
  font-family: "Kanit-BoldItalic", sans-serif;
  margin-left: 35px;
}

.card-text-orcamento {
  line-height: 1.7;
  margin-left: 2.3rem;
}

.orcamento-btn {
  background-color: #92c71b;
  color: #000 !important;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 3rem 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  width: 15rem;
}

.orcamento-btn:hover {
  border: 1px solid #92c71b;
  background-color: white;
}

/*===== FOOTER =====*/
.contactos {
  font-family: "Gilroy-Bold", sans-serif;
}

.dados {
  font-size: 12px;
  color: gray;
}

footer a {
  color: white;
}
