* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --verde: #92c71b !important;
  --preto: #000000 !important;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.verde {
  color: var(--verde);
}

/*===== HEADER =====*/

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-logo {
  width: 150px;
}

.navbar-nav {
  font-family: "Kanit-BoldItalic", sans-serif;
  font-size: 16px;
}

.nav-link {
  color: white;
}

.nav-link:hover,
.active:hover,
.active {
  color: var(--verde);
}

.mascara {
  width: 100%;
  height: auto;
  -webkit-mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  mask-image: url(images/logo-mask1.png),
    linear-gradient(to top, black 55%, transparent 50%);
  -webkit-mask-position: cover;
  mask-position: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  margin-top: -2rem;
}

/*===== MAIN =====*/

.card {
  border: none;
}

.sobre-btn {
  color: #000 !important;
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 1rem 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Kanit-SemiBoldItalic", sans-serif;
  border: 1px solid black;
  width: 120px;
}

.sobre-btn:hover {
  background-color: #000000;
  color: white !important;
}

.equipamentos {
  font-family: Kanit-BoldItalic;
}

.equipamentos a h1 {
  font-size: 100px;
}
.equipamentos a h5 {
  font-size: 30px;
}

.hidden {
  display: none;
}

.hidden img {
  max-width: 28%;
  margin-left: 5.5rem;
  z-index: -1;
}

.hidden span {
  margin-right: 19.5rem;
  font-size: 13px;
  font-family: "Kanit-LightItalic";
  letter-spacing: 3px;
  padding-top: 1rem;
}

a:hover h1,
a:hover h5 {
  color: #92c71b;
  transition: all 0.5s ease;
}

a:hover .hidden {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: -12rem;
  color: #000;
}

.carousel-item img {
  height: auto;
}

/*===== FOOTER =====*/
.contactos {
  font-family: "Gilroy-Bold", sans-serif;
}

.dados {
  font-size: 12px;
  color: gray;
}

footer a {
  color: white;
}
